@tailwind base;
@tailwind components;
@tailwind utilities;

.header-background {
    background: rgb(32, 59, 19);

}

.donate-color {
    color: rgba(235, 105, 92, 1);
}

.li-text-color:hover {
    color: rgba(235, 105, 92, 1);
    text-decoration: underline;
}

.donate {
    background-color: rgb(234, 52, 35);
}